<br/>
<div class="book-wrapper">
    <img class="bookImage" src=@Model.ImageURL>
    <div class="bookText">
        <br/><br/><br/>
        Title: @Model.Title <br/>
        Author(s): @Model.Authors <br/>
        Description: @Model.Description <br/>
    </div>
</div>
