<br/>
<div>
    <img style="width: 20%;" src=@Model.ImageURL>
    <div class="bookDiv">
<br/><br/><br/>
        Title: @Model.Title <br/>
        Author(s): @Model.Authors <br/>
        Description: @Model.Description <br/>
    </div>
</div>
