@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>

<div class="standardText">
    The book club was started as a result of a drunken night out, as most good things are.
</div>