@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>


<div>
    <img class="heroImage sliderImg" id="sliderImg1" src="~/Images/vfv1.jpg"/>
    <img class="heroImage sliderImg" id="sliderImg2" src="~/Images/vfv2.jpg" />
    <img class="heroImage sliderImg" id="sliderImg3" src="~/Images/vfv3.jpg" />
    <img class="heroImage sliderImg" id="sliderImg4" src="~/Images/vfv4.jpg" />
</div>
<br/>
<br/>
<div class="mainBody aboutText">
    Have you ever heard the one about The Hook? For those of you haven’t, here’s how it goes: This guy and girl are on a date. They head to Masochist Heights, a popular local make-out spot (picture your run-of-the-mill fare: surrounding woods, nice view and above all, isolated). They go about their business, the car’s radio is blaring in the background. <br/>
    <br/>
    Abruptly, the rock and roll hit on the airwaves gives way to a panicky sounding news caster. He warns people of a killer who’s just broken out of the local asylum – this guy’s called The Hook because that’s what he’s got instead of a right hand and he’s killed women, lots of ’em; gutted ’em with his hook and dined on their entrails. And his chosen site of staging? You guessed it, Masochist Heights. <br/>
    <br/>
    So the girl panics. She tells the guy she wants to go home. Begs him, even. But he, in the grand tradition of all horny men and women that have played starring roles in horror fiction before him, convinces her to stay – he’ll protect her, save her, cop a feel while he’s at it. <br/>
    <br/>
    So they stay. And the sex is good (why wouldn’t it be; impending disaster dictates it so). When they’re putting their clothes back on, the girl hears a noise, like someone’s stepped on twig or a fallen leaf. She looks up, into the rearview mirror, and she’s convinced she sees someone there. Grinning. She whips around and sees nothing, except… except for a hook hanging from the door handle, swinging away, the moonlight making it twinkle. I’m here to play, it seems to say. And boy, did they play. Played, till they could play no more. <br/>
    <br/>
    The story of The Hook’s been told and re-told for generations (the best way to hear it is when you’re little and huddled around a campfire, we imagine). Once in a while, some fancy variation will do the rounds, but the essence remains the same: it gives you the damn chills.<br/>
    <br/>
    Getting to the point, Death by Words is the result of drunken night, there’s no doubt about it. If we hadn’t been bitching about how no one reads anymore, and what nonsense sometimes passes for classics, and we hadn’t one too many drinks, it wouldn’t have happened. But it did. And we seem to have a shared taste for the macabre stuff out there.<br/>
    <br/>
    Stephen King said it best: If movies/books are dreams of the mass culture, than horror movies/books are the nightmares. This book club finds itself drawn to the nightmares.
    <br/>
    Welcome to Death by words. We hope you have a pleasant stay.
    <br/>

</div>