@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>


<div>
    <img class="heroImage sliderImg" id="sliderImg1" src="~/Images/vfv1.jpg"/>
    <img class="heroImage sliderImg" id="sliderImg2" src="~/Images/vfv2.jpg" />
    <img class="heroImage sliderImg" id="sliderImg3" src="~/Images/vfv3.jpg" />
    <img class="heroImage sliderImg" id="sliderImg4" src="~/Images/vfv4.jpg" />
</div>
<br/>
<br/>
<div class="mainBody normalText">
    The book club was started as a result of a drunken night out, as most good things are.
</div>