@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mainBody normalText">
    Are you on the hunt for a book club in Dubai? If so, have a look at our About section, check out some of the books we’ve read and our reading, and if we’ve managed to pique your interest, tickle your fancy, etc… get in touch with us. <br/>
    <br/>
    As of now, we read one book a month, and meet up on the third week of every month on neutral ground (i.e. cafés, sheesha places and the like). We prefer fiction with an edge – twisted characters meeting grisly ends, who can resist? – and if that sounds like your thing, contact us.<br/>
    <br/>
    For any information about the club or if you are interested in joining, please contact us by <a href="mailto:death.by.words.dubai@gmail.com">email.</a>
</div>